# Data
ojdata/*
*.RData
*.Rproj
*.Rhistory
*.zip
*.rdx
*.rdb


# Pytests
.pytest_cache/

# File for model deployment
score.py

# Environments
myenv.yml

# Logs
logs/
*.log

example_cache/
example_cache/html/